#routinelist{
    display: flex;
    flex-wrap: wrap;
}

.routineItem{
    border: 1px solid black;
    background-color:rgb(64, 110, 64);
    border-radius: 1em;
    height: 8em;
    width: 8em;
    margin: 0.5em;
    text-align: center;
    color: white;
}

.routineItem:hover{
    background-color: rgb(43, 71, 43);
}

.newRoutine{
    border: 1px dashed grey;
    border-radius: 1em;
    height: 8em;
    width: 8em;
    margin: 0.5em;
    text-align: center;
    color: grey;
    background-color:lightgray;
}

.newRoutine:hover{
    background-color: rgb(168, 168, 168);
}