body {
	background-color: black;
}

.pagetitle {
	color: rgb(87, 207, 57);
	text-align: center;
	margin: 0 auto;
	width: 500px;
	/* Form outline */
	padding: 1em;
}

#addroutinebtn {
	height: 40px;
	width: 120px;
	border: none;
	border-radius: 17px;
	padding-left: 7px;
	color: white;
	background-color: rgb(116, 100, 209);
	font-size: 15px;
}

#addroutinebtn:hover {
	color: rgb(211, 197, 197);
	background-color: rgb(36, 21, 121);
}
