.backgroundimg {
	background-image: url("../images/fitnessroom.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}

body {
	margin: 0;
	padding: 0;
	background-color: #00080aba;
	font-family: "Arial";
}
.loginbox {
	width: 310px;
	overflow: hidden;
	margin: auto;
	margin: 20 0 0 450px;
	padding: 80px;
	background: #1a270b;
	border-radius: 15px;
}
h2 {
	text-align: center;
	color: #5d5d5d;
	padding: 20px;
}
label {
	color: #e76edf;
	font-size: 17px;
}

#login {
	margin: auto;
	display: inline-block;
}

#username {
	width: 300px;
	height: 30px;
	border: none;
	border-radius: 3px;
	padding-left: 8px;
}
#password {
	width: 300px;
	height: 30px;
	border: none;
	border-radius: 3px;
	padding-left: 8px;
}
#loginbtn,
#signupbtn {
	width: 308px;
	height: 30px;
	border: none;
	border-radius: 17px;
	padding-left: 7px;
	color: white;
	background-color: rgb(116, 100, 209);
}
#loginbtn:hover,
#signupbtn:hover {
	background-color: rgb(24, 7, 63);
}

#loginerror {
	color: rgb(134, 20, 20);
	text-align: center;
}
span {
	color: white;
	font-size: 17px;
}

#usercheckmark {
	float: left;
}

#admincheckmarkcontainer {
	float: right;
}
