body {
	background-color: black;
}

.pageTitle {
	color: rgb(87, 207, 57);
	text-align: center;
	margin: 0 auto;
	width: 500px;
	/* Form outline */
	padding: 1em;
}

#addroutinebtn {
	width: 308px;
	height: 30px;
	border: none;
	border-radius: 17px;
	padding-left: 7px;
	color: white;
	background-color: rgb(116, 100, 209);
}
