body {
	background-color: black;
}

.cform {
	/* Center the form on the page */
	margin: 0 auto;
	width: 500px;
	/* Form outline */
	padding: 1em;
	border: 1px solid #ccc;
	border-radius: 1em;
}

.cul {
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: #7954b4;
}

.pageTitle {
	color: rgb(87, 207, 57);
	text-align: center;
	margin: 0 auto;
	width: 500px;
	/* Form outline */
	padding: 1em;
}

h3, h4, ul, li {
	text-align: center;
}